<!DOCTYPE html>
<!--if lt IE 8html.no-js.lt-ie8
-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>making break-ups clean, mutual, and less painful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="author" content="">
    <meta name="keywords" content="CleanBreak break up online">
    <meta name="description" content="break-up online, break-ups that are actually mutual">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- if lt IE 9
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    
    -->
    <!-- stylesheets-->
    <link href="static/fonts/themify-icons/themify-icons.min.css" rel="stylesheet">
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <!-- <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='formStyle.css') }}"> -->
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='glyphicons-social.css') }}">
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='landing.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel=stylesheet media=screen  type=text/css href="static/bower_components/angular-bootstrap/ui-bootstrap-csp.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.min.js"></script>

    <script src="static/angucomplete-alt.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <script type="text/javascript" src="static/formApp.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63719309-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>

  <body data-spy="scroll" data-target=".header" ng-app="formApp">
  <!-- <div ui-view></div> -->
    <header id="header" class="header navbar navbar-default">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
              </button>
              <a href="#" class="navbar-brand"> 
                <span>CleanBreak</span>
                </a>
          </div>
          <div id="navbar-collapse-1" class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav navbar-right">
              
              <li><a href="{{ url_for('index')}}">about</a></li>
              <li class="highlight"><a href="{{ url_for('stories')}}">stories</a></li>
              {% if current_user %}
                <li class="highlight"><a href="{{ url_for('profile')}}">profile</a></li>
              {% endif %}
              {% if current_user %}
                <li class="highlight"><a href="{{ url_for('logout')}}">logout</a></li>
              {% else %}
                <li class="highlight"><a href="{{ url_for('login')}}">login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="main-content">
      <div id="banner1" class="banner" style="text-align: left;vertical-align:top">
      <div class="container">
        <!-- <h1 id="ha" style="font-size:70px;">It was mutual, really.</h1> -->
        <h1 id="ha" style="font-size:70px;">We broker your break-up.</h1>
        
        <!-- <h1 style="font-size:66px;color:#2854a1;">The way insurance should be.</h1> -->

        <!-- <input style="width:125px;" type="text" class="controls form-inline" placeholder="Zip Code" name="coZip" ng-model="formData.coZip">  -->
        <div id="buttonHolder">
        <a id="mainButton" href="{{ url_for('form_index')}}"class="btn btn-primary btn-lg btn-info btn-block" style="padding-bottom:10px">
           Get started <span id="mainButtonIcon" class="glyphicons glyphicons-circle-arrow-right banner-arrow"></span>
        </a>
        </div>

     <!--    <a href="{{ url_for('form_index')}}"class="btn btn-primary btn-lg btn-info" style="background-color:#fff;color:#37A2FE;">
          Get insured in two minutes or less <span class="glyphicons glyphicons-circle-arrow-right banner-arrow" style="color:#37A2FE;"></span>
        </a> -->
        

      </div>
      </div>
<div id="banner" class="banner banner2">
  <div class="container" style="text-align: center;vertical-align:top"> 
    <h3>Learn more</h3>
    <span class="glyphicons glyphicons-chevron-down" style="color:#fff;font-size:20px;"></span>
  </div>
</div>
      
<div id="features" class="features">
  <h1 style="text-align:center;font-size:32px;">How does it work?</h1>
  <br>
   <div class="container" style="text-align: left;vertical-align:top">
   <div class="row">
    <div class="col-xs-1 text-center"></div>
    <div class="col-xs-10 text-left" style="font-size:14px;">
      <div ng-if="showGif">
        <img src="static/cb.gif" class="img-responsive">
        <br>
      </div>
      <div ng-if="showWB">
        <img src="static/wb_cb.JPG" class="img-responsive">
        <br>
      </div>
      <div ng-if="showText">
        <ol> <!-- ordered list -->
          <li>sign up with you and your SO's (significant other) email addresses</li>
            <ul style="font-size:14px;">
                <li>your SO is <strong>NOT</strong> notified</li>
                <li>your data is encrypted and kept secure</li>
            </ul>
          <li>your SO independently visits CleanBreak and also signs up</li>
          <li>CleanBreak recognizes the match and notifies you both</li>
        </ol>
        <br>
      </div>
      <a ng-click="showGif = !showGif;showText=false;showWB=false" class="btn btn-primary btn-lg btn-info btn-block">gif</a>
      <a ng-click="showText = !showText;showGif = false;showWB=false" class="btn btn-primary btn-lg btn-info btn-block">text</a>
      <a ng-click="showWB = !showWB;showGif = false;showText=false;" class="btn btn-primary btn-lg btn-info btn-block">whiteboard</a>
      
      

    </div>
    <div class="col-xs-1 text-center"></div>
    </div>
    </div>
    </div>


<div id="faq" class="features features3">
      <div class="row text-center">
        <h1 style="text-align:center;font-size:60px;">FAQ</h1>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-8 text-left" style="font-size:24px;">
          
          <div ng-controller="AccordionCtrl" >
          <!-- <a class="btn btn-primary btn-lg btn-info btn-block" ng-click="fbHit = true" ng-init="fbHit = false">asdf</a> -->
            <accordion close-others="oneAtATime">
              <accordion-group is-open="status.open1a">
                  <accordion-heading>
                      What does SO stand for? <i class="pull-right glyphicons" ng-class="{'glyphicons-chevron-down': status.open1a, 'glyphicons-chevron-right': !status.open1a}"></i>
                  </accordion-heading>
                  <p>Significant other, the person you're breaking up with.

                  </p>

              </accordion-group>
              <accordion-group is-open="status.open1b">
                  <accordion-heading>
                      What if my SO doesn't show up? <i class="pull-right glyphicons" ng-class="{'glyphicons-chevron-down': status.open1b, 'glyphicons-chevron-right': !status.open1b}"></i>
                  </accordion-heading>
                  <p>We've started by targeting specific geographic areas. This to help increase the odds that they will show if the feeling is mutual. We will never directly notify your SO, unless they enter a matching record.
                  </p>

              </accordion-group>
              <accordion-group is-open="status.open1">
                  <accordion-heading>
                      How much does CleanBreak cost? <i class="pull-right glyphicons" ng-class="{'glyphicons-chevron-down': status.open1, 'glyphicons-chevron-right': !status.open1}"></i>
                  </accordion-heading>
                  <p>It's free! It'd be great if you could spread the word and leave your story.
                    </p>
                    </ul>
              </accordion-group>
              <accordion-group is-open="status.open2">
                  <accordion-heading>
                      Can I just check if someone has entered my information? <i class="pull-right glyphicons" ng-class="{'glyphicons-chevron-down': status.open2, 'glyphicons-chevron-right': !status.open2}"></i>
                  </accordion-heading>
                  <p>No. You must be committed to ending the relationship to use the site. That's kind of the whole point.</p>
              </accordion-group>
              <accordion-group is-open="status.open3">
                  <accordion-heading>
                      Can I take it back or delete my entry?<i class="pull-right glyphicons" ng-class="{'glyphicons-chevron-down': status.open3, 'glyphicons-chevron-right': !status.open3}"></i>
                  </accordion-heading>
                  <p>Yes. If you change your mind you can click <a href='#'>here.</a> If your SO enters a matching record before you delete
                  yours, you will still both be notified.</p>
              </accordion-group>
            </accordion>
          </div>
          <div class="row text-center"><a href="/faq">More FAQ</a></div>

        </div>
        <div class="col-md-2 text-center"></div>
      </div>
</div>



<div id="banner" class="banner banner3">
        <div class="container" style="text-align: center;vertical-align:top">
          Less painful break-ups
          <br>
          <br>

          <a id="mainButton2" href="{{ url_for('form_index')}}"class="btn btn-primary btn-lg btn-info">
          Get started <span id="mainButtonIcon2" class="glyphicons glyphicons-circle-arrow-right banner-arrow"></span>
          </a>
        </div>
      </div>



    </div>
    <section id="footer">
      <section class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="footer-menu">
                <ul class="nav nav-pills">
                  <li><a href="#">home</a></li>
                  <li><a href="#features">about</a></li>
                  <li class="highlight"><a href="{{ url_for('form_index')}}">sign up</a></li>
                  <li class="highlight"><a href="{{ url_for('login')}}">login</a></li>
                </ul>
              </div>
              <div class="info">
                <!-- <p><i class="ti-mobile"> </i> (302) 540-2268</p> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="connect">
                <p data-i18n="Connect with us">contact us</p>
              </div>
              <!-- <div class="info"> -->
              <div>
              <p style="padding-top:10px;">
              <!-- need to replace xyz with twitter -->
              <a href="https://twitter.com/cleanbreak_co" target="_blank"> <span class="social social-twitter"  style="color:#333333;font-size: 24px;" title="Visit us on Twitter"></span></a><a href="mailto:info@CleanBreak.com" target="_blank"> <span class="social social-e-mail" style="color:#333333;font-size: 24px;" title="Send us an email"></span></a>
              </p>
          </div>
        </div>
      </section>



    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/bootstrap-select.min.js"></script>
    <script src="static/jquery.smooth-scroll.min.js"></script>
    <script src="static/landing.js"></script>
  </body>
</html>