
<h2>please confirm...<span class="glyphicons glyphicons-circle-question-mark qGylph" popover-placement="bottom" popover="Your data is protected with bank-level security and 256-bit encryption. Your information will never be shared unless your SO enters a matching record." popover-trigger="mouseenter"></span></h2>
<br>

<div class="row">
    <p class="a3">{[formData.email]}<p/>
</div>

<div class="row">
    <p class="a3">{[formData.emailSO]}</p>
</div>

<div class="row">
    <a ng-click="addU();disableNextConfirm = true" class="btn btn-primary btn-lg btn-info btn-block" ng-disabled="disableNextConfirm">
    Next section <span class="glyphicons glyphicons-circle-arrow-right"></span>
    </a>
</div>

<br>
<a ui-sref="form.info">somethings wrong, fix it<a>