
<h2>please enter...<span class="glyphicons glyphicons-circle-question-mark qGylph" popover-placement="bottom" popover="Your data is protected with bank-level security and encryption. Your information will never be shared unless your SO enters a matching record." popover-trigger="mouseenter"></span>
</h2>
<br>





  <!-- NAME -->
  <form name="userForm" ng-submit="submitForm()" novalidate>
  <div ng-if="usernameTaken > 0">
    <p style="color:red;">username taken</p>
  </div>
  
  <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
    <input type="text" name="username" placeholder="choose a name" class="form-control" ng-model="formData.username" required>
    <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Your username is required.</p>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
    <input type="email" name="email" placeholder="your email" class="form-control" ng-model="formData.email" 
    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Your email is required.</p>
  </div>
  <!-- <div ng-message="pattern">Please enter a valid email address!</div> -->
  <!-- USERNAME -->
  <div class="form-group" ng-class="{ 'has-error' : userForm.pass.$invalid && !userForm.pass.$pristine }" >
    <input type="password" name="pass" placeholder="your password" class="form-control" ng-model="formData.pass" required>
  </div>

  <!-- EMAIL -->
  <div class="form-group" ng-class="{ 'has-error' : userForm.emailSO.$invalid && !userForm.emailSO.$pristine }" >
    <input type="email" name="emailSO" placeholder="their (SO) email" class="form-control" ng-model="formData.emailSO" required>
    <p ng-show="userForm.emailSO.$invalid && !userForm.emailSO.$pristine" class="help-block">Enter a valid email.</p>
  </div>
  

  <button type="submit" class="btn btn-primary btn-lg btn-info btn-block" ng-disabled="userForm.$invalid">
	Next section <span class="glyphicons glyphicons-circle-arrow-right"></span>
  </button>

</form>
<!-- <div class="row">
    <a ui-sref="form.confirm" class="btn btn-primary btn-lg btn-info btn-block">
    Next section <span class="glyphicons glyphicons-circle-arrow-right"></span>
    </a>
</div> -->


<!-- <a href="#">Do you or your SO have multiple email addresses?</a> -->



