

<br>
<div class="row">
    
    <p class="a4" style="color:#333333;">
   	please check your email and click on the link we sent you. </p>
   	<p class="a4">

   	matching won't work until you confirm your email.
    <br>your SO could have already signed up, but we won't notify you until you confirm your email.</p>
</div>

<!-- <div class="row">
    <a href="/stories" class="btn btn-primary btn-lg btn-info btn-block">
    Visit stories <span class="glyphicons glyphicons-circle-arrow-right"></span>
    </a>
</div> -->
</div>
<br>
<a href="/faq">questions? visit FAQ</a></li>
<!-- <a ui-sref="form.info">somethings wrong, fix it<a> -->