{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<script type="text/javascript">
  // x=0
   function change1(){
    x=document.getElementById("upvote").textContent;
    x=Number(x)+1;
    document.getElementById("upvote").textContent=x;

    }

</script>

<!-- <h3>Question details</h3> -->
<div class="row">
  <div class="col-md-7" style='margin:20px; padding:10px;'>

  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Question: {{ data[2] }}</h3>
  </div>
  <div class="panel-body">
        <p class="list-group-item-text"> 
        Details: {{ data[3] }} <br></p>
        Category: {{ data[1] }} <br>
        Asked by: {{ data[4] }} <br></p>
    </div>
    </div>
<h4>Answers:</h4>

<div class="list-group">
    {% for data in data3 %}
      <a  class="list-group-item">
        
        <h4 class="list-group-item-heading">Answer: {{ data[1] }}</h4>
        <p class="list-group-item-text"> Answered By: {{ data[2] }} <br>
        </p>
        <br>
        <button class="btn btn-primary" type="button"  onclick="change1()">
          Upvote <span class="badge" id="upvote">1</span>
        </button>
      </a>
    {% endfor %}

    </div>
    <!-- </div> -->




    <br>
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.answer) }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
<!--   <div class="col-md-4" style="margin:30px; padding:10px; background-color: #f8f8f8;border-color: #e7e7e7;border: 1px solid; border-color: #eee;border-radius: 5px;"> -->
    <div class="col-md-4" style="margin:30px; padding:10px;">
    <h4>Similar questions:</h4>
    <div class="list-group">
    {% for data in data2 %}
      <a href="{{ url_for('help_edit',id=data[0]) }}" class="list-group-item">
        <h4 class="list-group-item-heading">Question: {{ data[2] }}</h4>
        <p class="list-group-item-text"> Category: {{ data[1] }} <br>
        Details: {{ data[3] }} <br></p>
        <!-- <a id="sameQ" name = "sameQ" href="#">I have the same question</a> -->
        <!-- About the company: {{ data[7] }} <br> -->
      </a>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

