<!DOCTYPE html>
<html>
<title>clean break</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='structure.css') }}">
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='angucomplete-alt.css') }}">
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='glyphicons-social.css') }}">
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet media=screen  type=text/css href="{{ url_for('static', filename='faqStyle.css') }}">
    <link rel=stylesheet media=screen  type=text/css href="static/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    
    <!-- JS -->
    <!-- load angular, nganimate, and ui-router -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.min.js"></script>

    <script src="static/angucomplete-alt.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <script type="text/javascript" src="static/faqApp.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/bootstrap-select.min.js"></script>
    <script src="static/jquery.smooth-scroll.min.js"></script>
    <script src="static/landing.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63719309-1', 'auto');
      ga('send', 'pageview');

    </script>
    
<style type="text/css">

.panel-group {
    margin-bottom: 5px !important;
}
</style>

    
</head>

  <body data-spy="scroll" data-target=".header">
    <header class="head-box navbar navbar-default">
      <div class="container">
        <div class="row" >
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
              </button>
              <a href="{{ url_for('index')}}" class="navbar-brand"> 
                <span class="head-box-gather">clean break</span>
                </a>
          </div>
          <div id="navbar-collapse-1" class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav navbar-right">
              
              <li><a href="{{ url_for('index')}}">about</a></li>
              <li class="highlight"><a href="{{ url_for('stories')}}">stories</a></li>
              {% if current_user %}
                <li class="highlight"><a href="{{ url_for('profile')}}">profile</a></li>
              {% endif %}
              {% if current_user %}
                <li class="highlight"><a href="{{ url_for('logout')}}">logout</a></li>
              {% else %}
                <li class="highlight"><a href="{{ url_for('login')}}">login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        </div>
      </div>
    </header>

<body ng-app="faqApp" ng-controller="faqController">



<div class="container" style="padding-top:100px;">

      <br>
      <div class="form-group row">
        <div ng-if="tellFlag<0">
      <a ng-click="tell()" class="btn btn-primary btn-lg btn-info btn-block">
        tell a story
      </a>
        </div>

        <div ng-if="tellFlag>0">
                    <input type="text" class="form-control" id="title" placeholder="title" ng-model="storyData.title">
                    <textarea type="text" class="form-control" id="story" placeholder="tell your story" 
                    ng-model="storyData.story"></textarea>
                    <a ng-click="postStory()" class="btn btn-default no-marg">post story</a>
                  </form>
        </div>


      <input placeholder="search stories" class="form-control email" type="text" name="stories" ng-model="story.search">


      <div style="padding-top:20px;">
        <accordion close-others="oneAtATime" ng-repeat="story in stories | filter:story.search | orderBy:'-id' | limitTo:5"> 
              <accordion-group is-open="status2[story.id]" ng-click="openCloseId(story.id)">
                  <accordion-heading>
                      <strong>{[story.title]}</strong> <i class="pull-right glyphicons" ng-class="{'glyphicons-chevron-down': status2[story.id], 'glyphicons-chevron-right': !status2[story.id]}"></i>
                    
                  </accordion-heading>
                  {[story.story]}
                  <br>
                  <hr style="border-color:#E9E7E7;">

                  <div ng-if="storyData.clicked && !username">
                    <p style="color:red;">you need to be <a href="/login">logged in</a> to vote</p>
                  </div>
                  <div ng-if="!storyData.clicked || username">
                  {[story.upvotes]} of {[(story.upvotes+story.downvotes)| number:0]} people found this story helpful | 
                  Did you find the story helpful? 
                  <a href="#" ng-click="story.upvotes = story.upvotes+1; voteStory(story.id, 1);storyData.clicked = true"><span class="glyphicons glyphicons-thumbs-up" title="This was helpful"></span></a> 
                  <a href="#" ng-click="story.downvotes = story.downvotes+1; voteStory(story.id,-1); storyData.clicked = true; thisDown=true"><span class="glyphicons glyphicons-thumbs-down" title="This was not helpful"></span></a>
                  <div ng-if="thisDown">
                  <form class="form-inline no-marg">
                    <div class="form-group">
                    <input type="text" class="form-control" id="makeBetter" placeholder="What didn't you like?" ng-model="storyData.makeBetter">
                    </div>
                    <button type="submit" class="btn btn-default no-marg" ng-click="subFeed(story.id)">Submit</button>
                  </form>
                  <form class="form-inline">
                  </div>
                  </div>
                  {[thisDown]}
                  
                  
                  
              </accordion-group>
      </accordion>

      </div>
      </div>
      </div>
      </div>
      </body>


</body>

