$main_color:                $brand-success; // (8,142,196)
$dark_bg:                   #425162;
$bg_section_features:       #f5f5f5;
$bg_section_faq:            #f5f5f5;

@import "compass/css3";


/*==========  UI  ==========*/

body {
    background-color: #f5f5f5;
}

h1, h2, h3 {
    font-weight: 300;
}

.btn-download {
    color: $reverse;
    background-color: transparent; 
    border-color: $reverse;
    min-width: 200px;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $dark_bg;
        background-color: $reverse;
    }
    .open & {
        &.dropdown-toggle {
            color: $dark_bg;
            background-color: $reverse;
        }
    }
}

.section-heading-underline {
    text-align: center;
    text-transform: uppercase;
    font-weight: $headings-font-weight;
    &:after {
        content: "";
        height: 3px;
        width: 100px;
        margin: 0.8em auto 0 auto;
        display: block;
        background: #eff0f3;
    }
}




/*==========  page  ==========*/

.main-content {}

// 
.header {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    background-color: $dark_bg;
    padding: 0 2em;
    .container {
        padding: 3em 0; // 2em padding for mobile
    }

    &.navbar-default {
        border: 0;
    }

    &.navbar-fixed-top {
        position: fixed;
        box-shadow: 1px 0 3px rgba(0,0,0,.15);
        .container {
            padding: 1em 0;
        }
    }

    .navbar-brand {
        padding: 5px 0;
        font-size: 20px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: #fff;
        &:hover,
        &:active,
        &:focus {
            color: #f1f1f1;
        }
    }

    .logo {
        margin-right: 20px;
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: normal;
        color: $dark_bg;
        background-color: $main_color;
        border-radius: 50%;
    }

    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.9);
        @media (min-width: $screen-sm-min) {
            background: none;
        }
    }

    @media (min-width: $screen-sm-min) {
        .navbar-nav {
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: .1em;
            padding: 7px 0;

            > li {
                margin-left: 25px;
                padding: 8px 10px;
                &.highlight {
                    border: 2px solid #f1f1f1;
                    border-radius: $border-radius-base;
                    > a {
                        &:hover,
                        &:active,
                        &:focus {
                            font-weight: normal;
                            color: #f1f1f1;
                            border-bottom: 0;
                        }
                    }
                }

                &.active {
                    > a {
                        font-weight: normal;
                        color: #f1f1f1;
                        background-color: transparent;
                        &:hover,
                        &:active,
                        &:focus {
                            font-weight: normal;
                            color: #f1f1f1;
                            background-color: transparent;
                        }
                    }
                }

                > a {
                    padding: 0;
                    color: #94979f;
                    transition: all .25s ease-in-out;
                    &:hover,
                    &:active,
                    &:focus {
                        font-weight: normal;
                        color: #f1f1f1;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.banner {
    position: relative;
    background-color: $dark_bg;
    border: 0;
    color: #fff;
    color: rgba(255,255,255,.8);
    text-align: center;
    padding: 180px 0 120px;

    h2 {
        font-size: 36px;
        line-height: 60px;
        margin-bottom: 25px;
    }

    .btn-download {
        margin-bottom: 30px;
    }

    .preview-img {
        display: block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
}

// 
.features {
    padding: 80px 0 80px;
    border-bottom: 1px solid $gray-lighter;

    > header {
        padding: 0 20px;
        margin-bottom: 60px;
    }

    header h3 {
        text-transform: uppercase;
    }

    .feature-item {
        margin-bottom: 50px;
        &:after {
            content: "";
            width: 100px;
            height: 3px;
            display: inline-block;
            background: #eff0f3;
            margin-top: 2em;
        }

        .icon-container {
            margin: auto;
            height: 76px;
            width: 76px;
            line-height: 76px;         
            padding: 0;
            border: 2px solid $main_color;   
            font-size: 35px;
            color: $main_color;
            border-radius: 26px;
        }

        h3 {
            font-size: 20px;
            font-weight: normal;
            color: $dark_bg;
            text-transform: uppercase;
        }

        .desc {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
            color: $gray-light;
            font-size: 1.2em;
            line-height: 1.6em;
        }
    }

}

.download {
    padding: 110px 0;
    text-align: center;
    background-color: #f9f9f9; // 
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
        color: $dark_bg;
        margin-bottom: 40px;
    }

    .btn {
        font-size: 14px;
        min-width: 220px;
        padding: 1em;
        color: #f5f5f5;
        color: rgba(255,255,255,.85);
    }
}


// 
.testimonials {
    position: relative;
    background-color: lighten($dark_bg,5%);
    padding: 20px 10px;
    color: #f5f5f5;
    font-weight: 300;

    .carousel {
        max-width: 970px;
        margin: 0 auto;
        padding: 80px;

        .carousel-indicators li {
            border: 1px solid $gray-lighter;
            border: 1px solid rgba(255,255,255,.3);
            &.active {
                background-color: $gray-lighter;
                background-color: rgba(255,255,255,.6);
            }
        }

        .carousel-inner {
            font-size: 18px;
            min-height: 125px;

            .item {

                blockquote {
                    position: relative;
                    padding: 0 30px;
                    border: 0;
                    text-align: left;
                    font-size: 20px;
                    line-height: 36px;

                    .quote {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: bold;
                    }
                }

                small {
                    display: block;
                    margin-top: 30px;
                    padding: 0 0 10px;
                    text-align: right;
                    font-size: 14px;
                    &:after {
                        background-color: rgba(255,255,255,.2);
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 80px;
                        height: 2px;
                        right: 0;
                    }
                }
            }
        }
    }
}

.faq {
    background-color: $bg_section_faq;
    padding: 7em 2em 5em;
    li {
        list-style-type: none;
        margin-bottom: 1.6em;
        padding: 1em 3em;
        @media (min-width: 47.5em) {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
    }

    h4 {
        margin-bottom: .6em;
        font-size: 21px;
        line-height: 1.6em;
    }

    .faq-a {
        font-family: $font-family-serif;
        font-size: 16px;
        line-height: 1.6em;
    }
}

// 
// .footer {
//     position: relative;
//     color: #7a859e;
//     position: relative;
//     background-color: $dark_bg;
//     padding: 80px 0;
//     font-size: 12px;
    
//     .slash-container {
//         position: absolute;
//         left: 0;
//         right: 0;
//         top: 0;    
//         height: 50px;    
//     }
// }


#footer {
    color: #7a859e;
    a {
        color: #7a859e;
    }
    .footer {
        padding: 15px 0;
        background-color: $dark_bg;

        .footer-menu,
        .connect {
            margin: 0;
            padding: 30px 0 10px;
            border-bottom: 1px solid lighten($dark_bg, 3%);
            text-transform: uppercase;
            line-height: 20px;

            p { margin: 0; }
        }

        .info,
        .social-icons {
            padding: 10px 0;
        }

        .nav {
            font-size: 12px;

            > li {
                border-left: 1px solid lighten($dark_bg, 3%);
                &:last-child {
                    border-right: 1px solid lighten($dark_bg, 3%);
                }

                > a {
                    padding: 0 10px;
                    &:hover,
                    &:focus {
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }
            }
        }

        .social-icons {
            a {
                margin-right: 5px;
                background-color: darken($dark_bg, 5%);
                color: #b3b3b3;
                &:hover,
                &:focus,
                &:active {
                    color: #f1f1f1;
                    text-decoration: none;
                }
            }
        }

        .btn-icon {
            display: inline-block;
            text-align: center;
            border-radius: $border-radius-base;
            height: 30px;
            width: 30px;
            line-height: 30px;
        }
    }

    .copyright {
        font-size: 12px;
        padding: 15px 0;
        background-color: darken($dark_bg, 5%);
    }
}

